@charset "utf-8";

html,body{ width:100%; height:100%; overflow:hidden; padding:0px; margin:0px; color:#475467; letter-spacing:0.06em; font:normal 14px/40px "Microsoft YaHei","微软雅黑";}
body { background:url(../images/fullpage_bg.jpg) center no-repeat; }
.bot_city{ background:url(../images/bot_city.png) center no-repeat; width:100%; height:300px; position:absolute; bottom:0px; z-index:0;}
h1, ul, li, dl, dt, dd{ padding:0px; margin:0px;}
.undis {display: none;}
a{ text-decoration:none;}
img{vertical-align:top;}
.w900{ width:900px; height:100%;}
.mm{ margin:0px auto;}
.pr{ position:relative;}
.tc{ text-align:center;}
.pt20{ padding-top:20px;}
.pt40{ padding-top:40px;}
.pl70{ padding-left:70px;}
.mt20{ margin-top:20px;}
.mt40{ margin-top:40px;}

img,button{ border:0; }

.right_inner h1{ text-align:center; width:198px; height:54px; padding:30px 60px 20px;}
.right_inner .form{ width:320px; height:460px; padding:30px 60px;}

.wrap_input { background:#fff; color:#6f7278; height:40px; line-height:40px; width:320px; margin-top:20px; position:relative; border:1px solid #9bbed0; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; text-align:left;}
.wrap_input input { width:320px; height:40px; line-height:40px; color:#666; position:absolute; left:0px; top:0px; background:none; text-indent:33px;/* width:280px\9; padding-left:40px\9;*/ border:none;}
input[type="text"]:focus{ border:1px solid #0581b2; /* width:318px; */ height:40px; line-height:40px; border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.icon{ background:url(../image/login/login_btn.png) no-repeat; width:26px; height:26px; margin:10px; display:inline-block;}
.icon1{ background:url(../image/login/login_btn.png) no-repeat; width:16px; height:18px; margin:10px; display:inline-block;}
.icon_user{ background-position: 0px 0px;}
.icon_pass{ background-position: -26px 0px;}

.icon_name{ background-position: -104px 0px;}
.icon_pass1{ background-position: -120px 0px;}
.icon_email1{ background-position: -136px 0px;}
.icon_photo{ background-position: -152px 0px;}

.form_inp_log .login_land { background:#d93f3d; height:46px; width:320px; color:#fff; text-align:center; margin-top:5px; font-size:18px; border:1px solid #D93F3D; display:inline-block; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;}
.form_inp_log .login_land:hover{ background:#b32723;}




#login .form { padding:30px 58px;}
.form_cont{ width:440px; float:left; padding-top:8px;}
.form_cont dl{ width:310px; height:40px; line-height:40px; margin-top:6px; margin-left:65px;}
.form_cont dt, .form_cont dd{ height:40px; line-height:40px;}
.form_cont dt{ width:80px; float:left;}
.form_cont dd{ width:230px; float:right;}


.cloud{ background:url(../images/cloud.png) no-repeat; background-size:contain; width:108px; height:62px; opacity:0.8; filter:alpha(opacity=80); position:absolute; right:80px; top:68px;
	animation:float_cloud 6s linear infinite; -webkit-animation:float_cloud 6s linear infinite; -moz-animation:float_cloud 6s linear infinite; -ms-animation:float_cloud 6s linear infinite; -o-animation:float_cloud 6s linear infinite;}
	
.cloud1{ background:url(../images/cloud1.png) no-repeat; width:166px; height:36px; position:absolute; left:100px; top:116px; z-index:2;}
.cloud2{ background:url(../images/cloud2.png) no-repeat; width:98px; height:56px; position:absolute; right:20px; top:180px;
	animation:float_cloud2 6s ease-in-out infinite; -webkit-animation:float_cloud2 6s ease-in-out infinite; -moz-animation:float_cloud2 6s ease-in-out infinite; -ms-animation:float_cloud2 6s ease-in-out infinite; -o-animation:float_cloud2 6s ease-in-out infinite;}
.cloud3{ background:url(../images/cloud3.png) no-repeat; background-size:contain; width:104px; height:50px; position:absolute; left:78px; top:68px; opacity:0.8; filter:alpha(opacity=80);
	animation:float_cloud4 6s linear infinite; -webkit-animation:float_cloud4 6s linear infinite; -moz-animation:float_cloud4 6s linear infinite; -ms-animation:float_cloud4 6s linear infinite; -o-animation:float_cloud4 6s linear infinite;}
.cloud_pos{left:310px; top:10px;
	animation:float_cloud5 8s ease infinite; -webkit-animation:float_cloud5 8s ease infinite; -moz-animation:float_cloud5 8s ease infinite; -ms-animation:float_cloud5 8s ease infinite; -o-animation:float_cloud5 8s ease infinite;}
.cloud_pos1{ right:320px; top:120px;  opacity:0.6; filter:alpha(opacity=60);
	animation:float_cloud3 8s ease infinite; -webkit-animation:float_cloud3 8s ease infinite; -moz-animation:float_cloud3 8s ease infinite; -ms-animation:float_cloud3 8s ease infinite; -o-animation:float_cloud3 8s ease infinite;}
@-webkit-keyframes float_cloud { 0%{ right:80;} 25%{ right:160px;} 50%{ right:20px;} 100%{ right:80px;}}
@-moz-keyframes float_cloud { 0%{ right:80;}	25%{ right:160px;}	50%{ right:20px;} 100%{ right:80px;}}
@-o-keyframes float_cloud { 0%{ right:80;} 25%{ right:160px;} 50%{ right:20px;} 100%{ right:80px;}}
@keyframes float_cloud { 0%{ right:80;} 25%{ right:160px;} 50%{ right:20px;} 100%{ right:80px;}}

@-webkit-keyframes float_cloud2 { 0%{ right:20;} 25%{ right:40px;} 50%{ right:0px;} 100%{ right:20px;}}
@-moz-keyframes float_cloud2 { 0%{ right:20;} 25%{ right:40px;} 50%{ right:0px;} 100%{ right:20px;}}
@-o-keyframes float_cloud2 { 0%{ right:20;} 25%{ right:40px;} 50%{ right:0px;} 100%{ right:20px;}}
@keyframes float_cloud2 { 0%{ right:20;} 25%{ right:40px;} 50%{ right:0px;} 100%{ right:20px;}}

@-webkit-keyframes float_cloud3 { 0%{ right:320px;} 25%{ right:360px;} 50%{ right:280px;} 100%{ right:320px;}}
@-moz-keyframes float_cloud3 { 0%{ right:320px;}	25%{ right:360px;}	50%{ right:280px;} 100%{ right:320px;}}
@-o-keyframes float_cloud3 { 0%{ right:320px;} 25%{ right:360px;} 50%{ right:280px;} 100%{ right:320px;}}
@keyframes float_cloud3 { 0%{ right:320px;} 25%{ right:360px;} 50%{ right:280px;} 100%{ right:320px;}}

@-webkit-keyframes float_cloud4 { 0%{ left:78px;} 25%{ left:100px;} 50%{ left:50px;} 100%{ left:78px;}}
@-moz-keyframes float_cloud4 { 0%{ left:78px;}	25%{ left:100px;}	50%{ left:50px;} 100%{ left:78px;}}
@-o-keyframes float_cloud4 { 0%{ left:78px;} 25%{ left:100px;} 50%{ left:50px;} 100%{ left:78px;}}
@keyframes float_cloud4 { 0%{ left:78px;} 25%{ left:100px;} 50%{ left:50px;} 100%{ left:78px;}}

@-webkit-keyframes float_cloud5 { 0%{ left:310px;} 25%{ left:350px;} 50%{ left:270px;} 100%{ left:310px;}}
@-moz-keyframes float_cloud5 { 0%{ left:310px;}	25%{ left:350px;}	50%{ left:270px;} 100%{ left:310px;}}
@-o-keyframes float_cloud5 { 0%{ left:310px;} 25%{ left:350px;} 50%{ left:270px;} 100%{ left:310px;}}
@keyframes float_cloud5 { 0%{ left:310px;} 25%{ left:350px;} 50%{ left:270px;} 100%{ left:310px;}}